In [10]:
import sys
!{sys.executable} -m pip install babelfish

Collecting babelfish
  Downloading babelfish-0.6.0-py3-none-any.whl (93 kB)
     |████████████████████████████████| 93 kB 1.8 MB/s eta 0:00:01
Installing collected packages: babelfish
Successfully installed babelfish-0.6.0

In [2]:
!{sys.executable} -m pip install python-opensubtitles

Requirement already satisfied: python-opensubtitles in /Users/michaelsmith/opt/anaconda3/lib/python3.9/site-packages (0.6.dev0)

In [1]:
import pandas as pd
import string, re

Top Movies from 1927 to 2021

In [2]:
i = 1927
movie_years_list = []
while i < 2022:
    url = 'https://en.wikipedia.org/wiki/{i}_in_film'.format(i=i)
    df = pd.read_html(url)
    if i == 1996:
        movies = df[4]
    else:
        movies = df[3]
    movies['Year'] = i
    movies.columns = ['Rank', 'Title', 'Studio', 'Gross', 'Year']
    movie_years_list.append(movies)
    i = i + 1

movie_years_list
all_movies = pd.concat(movie_years_list)
all_movies

,Rank,Title,Studio,Gross,Year
0,1,The Jazz Singer,Warner Bros.,"$1,974,000[1]",1927
1,2,7th Heaven,Fox Film Corporation,"$1,800,000[2]",1927
2,3,The King of Kings,Pathé Exchange,"$1,500,000[2]",1927
3,4,Tell It to the Marines,Metro-Goldwyn-Mayer,"$1,250,000[3]",1927
4,5,The Patent Leather Kid,First National Pictures,"$1,200,000[2]",1927
...,...,...,...,...,...
5,6,Detective Chinatown 3,Wanda,"$686,084,069",2021
6,7,Venom: Let There Be Carnage,Sony Pictures,"$506,863,592",2021
7,8,Godzilla vs. Kong,Warner Bros. / Toho,"$468,216,094",2021
8,9,Shang-Chi and the Legend of the Ten Rings,Disney,"$432,243,292",2021
9,10,Sing 2,Universal,"$406,034,990",2021

In [3]:
i = 1970
movie_decades_list = []
while i < 2021:
    url = 'https://en.wikipedia.org/wiki/{i}s_in_film'.format(i=i)
    df = pd.read_html(url)
    if i == 1970:
        movies = df[4]
    elif i == 1980:
        movies = df[6]
    else:
        movies = df[3]
    
    movies.drop(movies.columns[5],axis=1, inplace=True)
    # movies.drop('Ref', axis=1)
    movies.columns = ['Rank', 'Title', 'Studio', 'Gross', 'Year']
    movie_decades_list.append(movies)
    i = i + 10

movie_decades_list
all_decades = pd.concat(movie_decades_list)
all_decades

,Rank,Title,Studio,Gross,Year
0,1,Star Wars,20th Century Fox,"$221,280,994",1977
1,2,Superman,Warner Bros.,"$134,218,018",1978
2,3,The Godfather,Paramount Pictures,"$133,698,921",1972
3,4,Jaws,Universal Pictures,"$133,400,000",1975
4,5,Grease,Paramount Pictures,"$132,472,560",1978
...,...,...,...,...,...
25,26,Dolittle,Universal,"$245,438,444",2020
26,27,Jiang Ziya,Beijing Enlight Pictures,"$240,663,149",2020
27,28,Cruella,Disney,"$233,503,234",2021
28,29,"My Country, My Parents",China Lion Film Distribution,"$221,701,823",2021
29,30,Jungle Cruise,Disney,"$220,889,446",2021

In [4]:
all_movies = pd.concat([all_movies, all_decades])
all_movies.drop_duplicates(subset =['Title', 'Year'], keep = 'first', inplace = True)
all_movies

,Rank,Title,Studio,Gross,Year
0,1,The Jazz Singer,Warner Bros.,"$1,974,000[1]",1927
1,2,7th Heaven,Fox Film Corporation,"$1,800,000[2]",1927
2,3,The King of Kings,Pathé Exchange,"$1,500,000[2]",1927
3,4,Tell It to the Marines,Metro-Goldwyn-Mayer,"$1,250,000[3]",1927
4,5,The Patent Leather Kid,First National Pictures,"$1,200,000[2]",1927
...,...,...,...,...,...
23,24,The Batman,Warner Bros.,"$248,500,000",2022
24,25,Encanto,Disney,"$246,642,232",2021
27,28,Cruella,Disney,"$233,503,234",2021
28,29,"My Country, My Parents",China Lion Film Distribution,"$221,701,823",2021
29,30,Jungle Cruise,Disney,"$220,889,446",2021

In [5]:
def fix_gross(str):
    # Remove text between []
    no_desc = re.sub("([\(\[]).*?([\)\]])", "\g<1>\g<2>", str)

    # Check characters to see if they are in punctuation
    nopunc = [char for char in no_desc if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)

    num = int(nopunc)
    return num

all_movies['Gross'] = all_movies['Gross'].apply(fix_gross)
all_movies.reset_index(drop=True, inplace=True)
all_movies

,Rank,Title,Studio,Gross,Year
0,1,The Jazz Singer,Warner Bros.,1974000,1927
1,2,7th Heaven,Fox Film Corporation,1800000,1927
2,3,The King of Kings,Pathé Exchange,1500000,1927
3,4,Tell It to the Marines,Metro-Goldwyn-Mayer,1250000,1927
4,5,The Patent Leather Kid,First National Pictures,1200000,1927
...,...,...,...,...,...
967,24,The Batman,Warner Bros.,248500000,2022
968,25,Encanto,Disney,246642232,2021
969,28,Cruella,Disney,233503234,2021
970,29,"My Country, My Parents",China Lion Film Distribution,221701823,2021
971,30,Jungle Cruise,Disney,220889446,2021

Get SRTs

In [223]:
from pythonopensubtitles.opensubtitles import OpenSubtitles
from pythonopensubtitles.utils import File

ost = OpenSubtitles() 
ost.login('####', '####')

# title = 'Almost Famous'
# year = 2000
def get_subtitle(title, year):
    imdb_find = ost.search_movies_on_imdb(title)
    if type(imdb_find[0]) is dict:
        imdb_id = imdb_find[0]['id']

        data = ost.search_subtitles([{'sublanguageid': 'eng', 'imdbid': imdb_id}])
        if len(data) > 0:
            id_subtitle_file = data[0].get('IDSubtitleFile')
            file_name = '-'.join(title.split(' '))
            ost.download_subtitles([id_subtitle_file], override_filenames={id_subtitle_file: '{f}-{y}.srt'.format(f=file_name, y=year)}, output_directory='./srts', extension='srt')

all_movies.apply(lambda x: get_subtitle(x['Title'], x['Year']), axis=1)
# all_movies.apply(lambda x: get_subtitle(x['Title'], x['Year']), axis=1)
# title = "Big"
# year = 1988
# get_subtitle(title, year)
# imdb_find = ost.search_movies_on_imdb(title)
# imdb_find[0]['id']
# data = ost.search_subtitles([{'sublanguageid': 'eng', 'imdbid': imdb_find[0]['id']}])
# id_subtitle_file = data[0]["IDSubtitleFile"]
# file_name = '-'.join(title.split(' '))
# ost.download_subtitles([id_subtitle_file], override_filenames={id_subtitle_file: '{f}-{y}.srt'.format(f=file_name, y=year)}, output_directory='./new_srts', extension='srt')
# data
# all_movies

961    None
962    None
963    None
964    None
965    None
966    None
967    None
968    None
969    None
970    None
971    None
dtype: object

Work to remove redundant films with issues finding by first and last word

In [359]:
# all_movies = all_movies.drop(index=952)
# all_movies[all_movies['Year'] == 1978]
all_movies.reset_index(drop=True, inplace=True)
all_movies

,Rank,Title,Studio,Gross,Year
0,1,The Jazz Singer,Warner Bros.,1974000,1927
1,2,7th Heaven,Fox Film Corporation,1800000,1927
2,3,The King of Kings,Pathé Exchange,1500000,1927
3,4,Tell It to the Marines,Metro-Goldwyn-Mayer,1250000,1927
4,5,The Patent Leather Kid,First National Pictures,1200000,1927
...,...,...,...,...,...
963,24,The Batman,Warner Bros.,248500000,2022
964,25,Encanto,Disney,246642232,2021
965,28,Cruella,Disney,233503234,2021
966,29,"My Country, My Parents",China Lion Film Distribution,221701823,2021
967,30,Jungle Cruise,Disney,220889446,2021

In [6]:
import sys, os
import numpy as np
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from collections import Counter
from itertools import dropwhile
from copy import deepcopy

## Parse Words from SRT files

based on [pablo-var/learn-english-words-from-srt](https://github.com/pablo-var/learn-english-words-from-srt) repository

In [361]:
def is_time_stamp(l):
  if l[:2].isnumeric() and l[2] == ':':
    return True
  return False

def has_letters(line):
  if re.search('[a-zA-Z]', line):
    return True
  return False

def remove_non_ascii(text):
    return ''.join(i for i in text if ord(i)<128)

def has_no_text(line):
  l = line.strip()
  if not len(l):
    return True
  if l.isnumeric():
    return True
  if is_time_stamp(l):
    return True
  if l[0] == '(' and l[-1] == ')':
    return True
  if not has_letters(line):
    return True
  return False

def is_lowercase_letter_or_comma(letter):
  if letter.isalpha() and letter.lower() == letter:
    return True
  if letter == ',':
    return True
  return False

def clean_up(lines):
  """
  Get rid of all non-text lines and
  try to combine text broken into multiple lines
  """
  new_lines = []
  for line in lines[1:]:
    line = remove_non_ascii(line)
    if has_no_text(line):
      continue
    elif len(new_lines) and is_lowercase_letter_or_comma(line[0]):
      #combine with previous line
      new_lines[-1] = new_lines[-1].strip() + ' ' + line
    else:
      #append line
      new_lines.append(line)
  return new_lines

def main(args):
  """
    args[1]: file name
    args[2]: csv name
    args[3]: encoding. Default: utf-8.
      - If you get a lot of [?]s replacing characters,
      - you probably need to change file_encoding to 'cp1252'
  """
  file_name = args[1]
  file_encoding = 'utf-8' if len(args) < 4 else args[3]

  with open(file_name, encoding=file_encoding, errors='replace') as f:
    lines = f.readlines()
    new_lines = clean_up(lines)
  
  new_file_name = file_name[:-4] + '.txt'

  with open(new_file_name, 'w') as f:
    for line in new_lines:
      f.write(line)
  
  with open(new_file_name, 'r') as myfile:
    data = re.sub('\W+',' ', myfile.read()).replace('\n', '').lower()
  
  stop_words = set(stopwords.words("english"))  # load stopwords

  words = [w for w in data.split(" ") if w not in stop_words]

  new_data = Counter(words)

  for key, count in dropwhile(lambda key_count: key_count[1] >= 2, new_data.most_common()):
    del new_data[key]
  
  df = pd.DataFrame.from_dict(new_data.most_common())
  df.columns = ['word', 'occurrences']
  csv_name = args[2]
  df.to_csv(csv_name, index = False)

prob_movies = []

for file_name in os.listdir("srts"):
    
    with open(os.path.join("srts", file_name), 'r', encoding="ISO-8859-1") as f:
       lines = f.readlines()
       new_lines = clean_up(lines)
    
    new_file_name = file_name[:-4] + '.txt'

    with open(new_file_name, 'w') as f:
      for line in new_lines:
        f.write(line)
    
    with open(new_file_name, 'r') as myfile:
      data = re.sub('\W+',' ', myfile.read()).replace('\n', '').lower()

    stop_words = set(stopwords.words("english"))  # load stopwords

    words = [w for w in data.split(" ") if w not in stop_words]

    new_data = Counter(words)

    for key, count in dropwhile(lambda key_count: key_count[1] >= 2, new_data.most_common()):
      del new_data[key]

    movie_strs = file_name[:-4].split('-')
    l = len(movie_strs)
    movie_name = ' '.join(movie_strs[0:l-1])
    movie_year = int(movie_strs[l-1])
    movie_first_word = movie_strs[0]
    movie_last_word = movie_strs[l-2]
    # print(movie_name, movie_year, dict(new_data.most_common()))

    found_movies = all_movies[all_movies['Title'].apply(lambda x: x.lower().__contains__(movie_last_word.lower())) & (all_movies['Title'].apply(lambda x: x.lower().__contains__(movie_first_word.lower())) ) & (all_movies['Year'] == movie_year)]

    i = found_movies.index
    
    
    if len(i) == 1:
      # all_movies.loc[all_movies.index[i[0]], 'Words'] = dict(new_data.most_common())
      m = all_movies.index[i[0]]
      all_movies.loc[m, 'Words'] = [deepcopy(dict(new_data.most_common()))]
      all_movies.loc[all_movies.index[i[0]], 'Word Counts'] = len(new_data.most_common())
    else:
      prob_movies.append({'movie': movie_name, 'year': movie_year})

In [368]:
final_movies = all_movies.dropna()
final_movies.to_json('final_movies.json', orient='records')

Manage replacement SRTS

In [12]:
data = {'Title': ['Cleopatra', 'Cheaper by the Dozen']}
short_movie_df = pd.DataFrame(data)
short_movie_df

                  Title
0             Cleopatra
1  Cheaper by the Dozen

In [13]:
def is_time_stamp(l):
  if l[:2].isnumeric() and l[2] == ':':
    return True
  return False

def has_letters(line):
  if re.search('[a-zA-Z]', line):
    return True
  return False

def remove_non_ascii(text):
    return ''.join(i for i in text if ord(i)<128)

def has_no_text(line):
  l = line.strip()
  if not len(l):
    return True
  if l.isnumeric():
    return True
  if is_time_stamp(l):
    return True
  if l[0] == '(' and l[-1] == ')':
    return True
  if not has_letters(line):
    return True
  return False

def is_lowercase_letter_or_comma(letter):
  if letter.isalpha() and letter.lower() == letter:
    return True
  if letter == ',':
    return True
  return False

def clean_up(lines):
  """
  Get rid of all non-text lines and
  try to combine text broken into multiple lines
  """
  new_lines = []
  for line in lines[1:]:
    line = remove_non_ascii(line)
    if has_no_text(line):
      continue
    elif len(new_lines) and is_lowercase_letter_or_comma(line[0]):
      #combine with previous line
      new_lines[-1] = new_lines[-1].strip() + ' ' + line
    else:
      #append line
      new_lines.append(line)
  return new_lines

def main(args):
  """
    args[1]: file name
    args[2]: csv name
    args[3]: encoding. Default: utf-8.
      - If you get a lot of [?]s replacing characters,
      - you probably need to change file_encoding to 'cp1252'
  """
  file_name = args[1]
  file_encoding = 'utf-8' if len(args) < 4 else args[3]

  with open(file_name, encoding=file_encoding, errors='replace') as f:
    lines = f.readlines()
    new_lines = clean_up(lines)
  
  new_file_name = file_name[:-4] + '.txt'

  with open(new_file_name, 'w') as f:
    for line in new_lines:
      f.write(line)
  
  with open(new_file_name, 'r') as myfile:
    data = re.sub('\W+',' ', myfile.read()).replace('\n', '').lower()
  
  stop_words = set(stopwords.words("english"))  # load stopwords

  words = [w for w in data.split(" ") if w not in stop_words]

  new_data = Counter(words)

  for key, count in dropwhile(lambda key_count: key_count[1] >= 2, new_data.most_common()):
    del new_data[key]
  
  df = pd.DataFrame.from_dict(new_data.most_common())
  df.columns = ['word', 'occurrences']
  csv_name = args[2]
  df.to_csv(csv_name, index = False)

prob_movies = []

for file_name in os.listdir("prob_srts"):
    
    with open(os.path.join("prob_srts", file_name), 'r', encoding="ISO-8859-1") as f:
       lines = f.readlines()
       new_lines = clean_up(lines)
    
    new_file_name = file_name[:-4] + '.txt'

    with open(new_file_name, 'w') as f:
      for line in new_lines:
        f.write(line)
    
    with open(new_file_name, 'r') as myfile:
      data = re.sub('\W+',' ', myfile.read()).replace('\n', '').lower()

    stop_words = set(stopwords.words("english"))  # load stopwords

    words = [w for w in data.split(" ") if w not in stop_words]

    new_data = Counter(words)

    for key, count in dropwhile(lambda key_count: key_count[1] >= 2, new_data.most_common()):
      del new_data[key]

    movie_strs = file_name[:-4].split('-')
    l = len(movie_strs)
    movie_name = ' '.join(movie_strs[0:l-1])
    movie_year = int(movie_strs[l-1])
    movie_first_word = movie_strs[0]
    movie_last_word = movie_strs[l-2]
    # print(movie_name, movie_year, dict(new_data.most_common()))

    # found_movies = movies_needed[movies_needed['Title'].apply(lambda x: x.lower().__contains__(movie_last_word.lower())) & (movies_needed['Title'].apply(lambda x: x.lower().__contains__(movie_first_word.lower())) ) & (movies_needed['Year'] == movie_year)]

    found_movies = short_movie_df[short_movie_df['Title'].apply(lambda x: x.lower().__contains__(movie_last_word.lower()))]

    i = found_movies.index
    
    
    if len(i) == 1:
      # all_movies.loc[all_movies.index[i[0]], 'Words'] = dict(new_data.most_common())
      # m = movies_needed.index[i[0]]
      # movies_needed.loc[m, 'Words'] = [deepcopy(dict(new_data.most_common()))]
      # movies_needed.loc[movies_needed.index[i[0]], 'Word Counts'] = len(new_data.most_common())
      m = short_movie_df.index[i[0]]
      short_movie_df.loc[m, 'Words'] = [deepcopy(dict(new_data.most_common()))]
      short_movie_df.loc[short_movie_df.index[i[0]], 'Word Counts'] = len(new_data.most_common())
    # else:
    #   prob_movies.append({'movie': movie_name, 'year': movie_year})

In [14]:
short_movie_df

,Title,Words,Word Counts
0,Cleopatra,"{'caesar': 92, 'antony': 69, 'well': 54, 'egyp...",456.0
1,Cheaper by the Dozen,"{'oh': 96, 'good': 85, 'well': 82, 'dad': 80, ...",795.0

In [15]:
short_movie_df.to_json('short_movie.json', orient='records')

In [488]:
import requests
collect_movies = []
colect_idx = []
def date(str):
  # if len(str) == 4:
  #   return int(float(str))
  return str[:4]

def req_movie(f_id, title, year):
    movie_search = requests.get('https://api.themoviedb.org/3/search/movie?api_key=f7f9fe195f863c63a5e2f42428f3c16b&language=en-US&query={t}&page=1&include_adult=false'.format(t=title))
    movies = movie_search.json()['results']
    collect_movies.append(movies)
    idx = next((i for i, item in enumerate(movies) if date(item["release_date"]) == str(year)), None)
    colect_idx.append(idx)
    if idx:
      movie_id = movies[idx]["id"]

      movie_id_search = requests.get('https://api.themoviedb.org/3/movie/{j}?api_key=f7f9fe195f863c63a5e2f42428f3c16b&language=en-US'.format(j=movie_id))
      movie = movie_id_search.json()
      def parse_genres(n):
        return n.name
    
      genres = movie['genres']
      genres_list = []
      for genre in genres:
        genres_list.append(genre['name'])
        
      genres_list = '-'.join(genres_list)

      final_movies_combined.loc[final_movies_combined.index[f_id], 'genres'] = genres_list
      final_movies_combined.loc[final_movies_combined.index[f_id], 'budget'] = movie['budget']
      final_movies_combined.loc[final_movies_combined.index[f_id], 'poster_path'] = movie['poster_path']
      final_movies_combined.loc[final_movies_combined.index[f_id], 'revenue'] = movie['revenue']
      final_movies_combined.loc[final_movies_combined.index[f_id], 'runtime'] = movie['runtime']
      final_movies_combined.loc[final_movies_combined.index[f_id], 'release_date'] = movie['release_date']
      final_movies_combined.loc[final_movies_combined.index[f_id], 'tmdb_id'] = int(movie['id'])
      final_movies_combined.loc[final_movies_combined.index[f_id], 'imdb_id'] = movie['imdb_id']

final_movies_combined.apply(lambda x: req_movie(x.name, x['Title'], x['Year']), axis=1)

0      None
1      None
2      None
3      None
4      None
       ...
868    None
869    None
870    None
871    None
872    None
Length: 873, dtype: object